@model PortailEbook.Models.Entity.PurchaseLine

    @{
        ViewData["Title"] = "Details";
    }
    <div class="container shadow col-md-7" style="margin-bottom:70px;background-color:#f8f9fd">
        <div class="p-5">
            <div>
                <h3>PurchaseLine Details</h3>
            </div>
            <hr />
            <form>
                <input asp-for="Id" type="hidden" />
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label asp-for="IdPurchase"></label>
                        <input asp-for="IdPurchase" class="form-control" readonly>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label asp-for="IdDocument"></label>
                        <input asp-for="IdDocument" class="form-control" readonly>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label asp-for="UnitPrice"></label>
                        <input asp-for="UnitPrice" class="form-control" placeholder="Unit Price" readonly>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label asp-for="Quantity"></label>
                        <input asp-for="Quantity" class="form-control" placeholder="Quantity" readonly>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label asp-for="DiscountPercent"></label>
                        <input asp-for="DiscountPercent" class="form-control" placeholder="DiscountPercent" readonly>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label asp-for="Discount"></label>
                        <input asp-for="Discount" class="form-control" placeholder="Discount" readonly>
                    </div>
                </div>
            </form>
            <div class="mt-2 text-center">
                <a asp-action="Index" asp-controller="PurchaseLine">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                    </svg>
                    Back to List
                </a>
            </div>
        </div>
    </div>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
