@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid" style="margin-bottom:80px;">
    <div class="row" style="padding-bottom:1%">
        <div class="col-md-9">
            <h3 style="color:#6777ef">Liste des lignes de commande</h3>
        </div>
        <div class="col-md-3">
            <a asp-action="UpsertPurchaseLine" asp-controller="PurchaseLine" class="btn btn-primary form-control text-white">
                Ajouter une ligne de commande
            </a>
        </div>
    </div>
    <table id="myTable" class="table table-striped" style="background-color:#ffffff">
        <thead>
            <tr>
                <th>IdPurchase</th>
                <th>IdDocument</th>
                <th>Prix unitaire</th>
                <th>Quantité</th>
                <th>Discount</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/assets/js/PurchaseLineList.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
}
