@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid" style="margin-bottom:80px;">
    <div class="row" style="padding-bottom:1%">
        <div class="col-md-9">
            <h3 style="color:#6777ef">Purchase List</h3>
        </div>
        <div class="col-md-3">
            <a asp-action="UpsertPurchase" asp-controller="Purchase" class="btn btn-primary form-control text-white">
                New Purchase
            </a>
        </div>
    </div>
    <table id="myTable" class="table table-striped" style="background-color:#ffffff">
        <thead>
            <tr>
                <th>IdUser</th>
                <th>PurchaseNumber</th>
                <th>PurchaseDate</th>
                <th>Type</th>
                <th>AmountTTC</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/assets/js/PurchaseList.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
}

